
#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(255, 255, 255);
    height: 0%;
   border-bottom: solid #73a2bb;


}

#linkNavBar {
    padding-right: 1cm;
}

#letraLink {
    color: rgb(5, 4, 4);
    font-size: 180%;

}

a {
background: #73a2bb;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    padding-right: 0.5cm;
}
#idLogo{
    width: 250px;
    height: 200px;
    padding-left: 0em;
    padding-top: 0cm;
    padding-bottom: 0cm;
}
#carouselSlide {
    background-color: #efefef;;
   
    
    padding-top: 70px;
}

h1,
h2{
    font-size: 120px;
    color: rgb(0, 0, 0);
    text-align: center;
}




p,
h3{
    text-align: center;
}

#carouselExampleIndicators {
    padding-top: 5%;

}

p {
    font-size: 25px;
}

#footerId {
    text-align: center;
}

img {
    width: 300px;
    height: 250px
}

#footerId {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    text-align: center;
    background: rgb(255, 255, 255);

}

#mdAltSenha {
    border-radius: 50px;
    box-shadow: .5px 10px 15px rgba(0, 0, 0, 0.2);
}

#idprodutos{
    text-align: center;
    color: rgb(7, 72, 138);
    font-size: 40px;
    
}


#linkservice{
    color: rgb(0, 0, 0);
    text-align: center;
    
}
#imgServicos{
    text-align: center;
    
}
#containerservicos{
    padding-left: 2cm;
}

body {
    background-color: #f8f8f8;
  }
  
  /* Form */
  #form-container {
    background-color: #FFF;
    border-radius: 20px;
    box-shadow: .5px 10px 15px rgba(0, 0, 0, 0.2);
    margin: 25px auto;
    padding: 25px;
  }

#idpsobrenos{
    text-align: center;
}







body {
    background-color: #f8f8f8;
  }
  
  /* Form */

  #form-container h2 {
    font-weight: 900;
    margin-bottom: 30px;
    align-items: center;
    text-align: center;
  }
   #form-container .form-control {
    border: none;
    border-bottom: 1px solid #CCC;
    border-radius: 0;
   
  }
 